* {
    /*Todos elementos*/
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /*mesmo tamanho*/
    font-family: 'Arial';
}

html,
body {
    height: 100%;
}

.responsive-table {
    border-collapse: collapse;
    border-spacing: 0;
}